body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f2f5;
  font-family: Arial, sans-serif;
}

.container {
  text-align: center;
}

h1 {
  font-size: 3rem;
  color: #2c3e50;
}

#value {
  font-size: 4rem;
  margin: 20px 0;
  color: red;
  font-weight: bold;
}

.btn-container {
  display: flex;
  gap: 10px;
  justify-content: center;
}

button {
  padding: 8px 14px;
  border: 2px solid #2c3e50;
  background: transparent;
  cursor: pointer;
  border-radius: 5px;
  font-weight: bold;
  transition: 0.2s;
}

button:hover {
  background-color: #2c3e50;
  color: white;
}
